<div class="configui">
<div class="dimensionchoice">
    Show me: 
    <select class="dimensionchooser selector" name="dimension">
        <% $.each(dsd.chooseable_dimensions, function(i,v){ %>
            <option value="<%= v.uri %>"
                        <% if (v.uri == selectedDimension) { %>selected="selected"<% } %> >
                <%= v.label %>
            </option>
        <% }) %>
    </select>
</div>

<div class="includechoices options">
    Combined with:
    <% $.each(dsd.standard_dimensions, function(i,v){ %>
            <div class="includechoice">
                <label for="<%= 'include_' + i.toString() %>">
                    <%= v.label %>
                </label>
                <input type="checkbox" 
                            id="<%= 'include_' + i.toString() %>" 
                            name="include" 
                            <% if (_.include(includeDimensions, v.uri)) { %>checked="checked"<% } %>
                            value="<%= v.uri %>"/>
            
                <div class="filter <% if (!_.include(includeDimensions, v.uri)) { %>hide<% } %>">
                    <select class="<%= tokenizeURI(v.uri) %>filter selector" name="<%= tokenizeURI(v.uri) %>filter" multiple="multiple">
                        <% $.each(dimensionValues[tokenizeURI(v.uri)], function(vdex, val){ %>
                            <option value="<%= val %>" selected="selected"><%= tokenizeURI(val) %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
         
    <% }) %>
</div>

<div class="measurechoice">
    As:
    <select class="measurechooser selector" name="measure">
        <% $.each(dsd.chooseable_measures, function(i,v){ %>
            <option value="<%= v.uri %>"
                <% if (v.uri == selectedMeasure) { %>selected="selected"<% } %>>
                <%= v.label %>
            </option>
        <% }) %>
    </select>
</div>

<div class="groupbychoice">
    Group by:
    <select class="groupbychooser selector" name="group">
        <% $.each(dsd.standard_dimensions, function(i,v){ %>
            <option value="<%= v.uri %>"
                <% if (v.uri == groupbyDimension) { %>selected="selected"<% } %>>
                <%= v.label %>
            </option>
        <% }) %>
     </select>
</div>



<div class="configui_controls">
    <a class="rechart button"href="#">Apply</a>
</div>

</div>
