<div class="configui">
<div class="dimensionchoice">
    Show me: 
    <select class="dimensionchooser selector" name="dimension" multiple="false">
        <% $.each(dsd.chooseable_dimensions, function(i,v){ %>
            <option value="<%= v.uri %>"
                        <% if (v.uri == selectedDimension) { %>selected="selected"<% } %> >
                <%= v.label %>
            </option>
        <% }) %>
    </select>
</div>

<div class="includechoice options">
    Combined with:
    <% $.each(dsd.standard_dimensions, function(i,v){ %>
        <input type="checkbox" 
                    id="<%= 'include_' + i.toString() %>" 
                    name="include" 
                    <% if (_.include(includeDimensions, v.uri)) { %>checked="checked"<% } %>
                    value="<%= v.uri %>"/>
        <label for="<%= 'include_' + i.toString() %>">
            <%= v.label %>
        </label>
    <% }) %>
</div>

<div class="filter">
    <select class="cohortfilter selector" name="cohortfilter" multiple="multiple">
        <option value="YC">Young Cohort</option>
        <option value="OC">Older Cohort</option>
    </select>
</div>

<div class="measurechoice">
    As:
    <select class="measurechooser selector" name="measure" multiple="false">
        <% $.each(dsd.chooseable_measures, function(i,v){ %>
            <option value="<%= v.uri %>"
                <% if (v.uri == selectedMeasure) { %>selected="selected"<% } %>>
                <%= v.label %>
            </option>
        <% }) %>
    </select>
</div>

<div class="grouping options">
    Group by:
    <% $.each(dsd.standard_dimensions, function(i,v){ %>
        <input type="radio" 
                    id="<%= 'group_' + i.toString() %>" 
                    name="groupby" 
                    <% if (v.uri == groupbyDimension) { %>checked="checked"<% } %>
                    value="<%= v.uri %>"/>
        <label for="<%= 'group_' + i.toString() %>">
            <%= v.label %>
        </label>
    <% }) %>
</div>



<div class="configui_controls">
    <a class="rechart button"href="#">Apply</a>
</div>

</div>
